@import '../../styles';

$base-color: $gray;
$highlight-color: $aqua;

body {
      background: none;
      position: static;
      display: inline-block;
      margin-bottom: -150pt;
      .backshape {
            width: 1400pt;
            margin-top: 80pt;
            transform:skew(0deg,9deg);
            -ms-transform:skew(0deg,9deg);
            -webkit-transform:skew(0deg,9deg);
            background: $white;
            .wrapper {
                  color: $base-color;
                  background: none;
                  transform:skew(0deg,-9deg);
                  -ms-transform:skew(0deg,-9deg);
                  -webkit-transform:skew(0deg,-9deg);
                  div {
                        @include unselectable();
                        position: absolute;
                        width: 100%;
                        margin-top: -20pt;
                        div {
                              &:hover {
                                    div {
                                          span {
                                                display: block;
                                          }
                                    }
                              }
                              div {
                                    margin-left: 12pt;
                                    margin-top: -35pt;
                                    display: block;
                                    float: left;
                                    cursor: hand;
                                    cursor: pointer;
                                    h1 {
                                          font-family: Gudea;
                                          font-size: 20pt;
                                          white-space: nowrap;
                                    }
                                    span {
                                          text-align: left;
                                          display: none;
                                          background: $highlight-color;
                                          width: 38pt;
                                          height: 1.5pt;
                                          margin-top: -4pt;
                                    }
                              }
                        }
                        .github {
                              content: url('../../images/github/unclicked.png');
                              height: 20pt;
                              float: left;
                              margin-top: -35pt;
                              margin-left: 120pt;
                              cursor: hand;
                              cursor: pointer;
                              &:hover {
                                    content: url('../../images/github/clicked.png');
                              }
                        }
                        .linkedin {
                              content: url('../../images/linkedin/unclicked.png');
                              @extend .github;
                              margin-left: 147pt;
                              &:hover {
                                    content: url('../../images/linkedin/clicked.png');
                              }
                        }
                        p {
                              font-family: Gudea;
                              margin-left: 12pt;
                              color: $gray;
                              input {
                                    @extend .material-box-shadow-sm;
                                    display: block;
                                    margin-bottom: 5pt;
                                    font-size: 12pt;
                                    background: none;
                                    border: solid 1.25pt $gray;
                                    border-radius: 4px;
                                    padding: 2pt 5pt 1pt 5pt;
                                    font-family: Chivo;
                                    @include breakpoint(xs) {
                                          width: calc(70vw);
                                    }
                                    @include breakpoint(sm) {
                                          width: 50vw;
                                          max-width: 429pt;
                                    }
                              }
                              .name {
                                    margin-top: -10pt;
                                    @include breakpoint(xs) {
                                          width: calc(70vw);
                                    }
                                    @include breakpoint(sm) {
                                          width: 30vw;
                                          max-width: 257pt;
                                    }
                              }
                              select, option {
                                    display: block;
                                    -webkit-appearance: none;
                                    @extend input;
                                    color: #515151;
                                    @include breakpoint(xs) {
                                          width: calc(70vw);
                                    }
                                    @include breakpoint(sm) {
                                          width: 70vw;
                                          max-width: 600pt;
                                    }
                              }
                              textarea {
                                    display: block;
                                    @extend input;
                                    resize: none;
                                    @include breakpoint(xs) {
                                          width: calc(70vw);
                                    }
                                    @include breakpoint(sm) {
                                          width: 70vw;
                                          max-width: 600pt;
                                    }
                              }
                              button {
                                    @extend input;
                                    @extend textarea;
                                    color: $gray;
                                    cursor: hand;
                                    cursor: pointer;
                                    &.invalid {
                                          box-shadow: 0px 0px 0px !important;
                                          opacity: 0.8 !important;
                                    }
                              }
                        }
                  }
                  .disappear {
                        @include breakpoint(xs) {
                              display: none;
                        }
                  }
            }
      }

}
