@import '../../styles';

$base-color: $gray;
$iphone: url('../../images/iphone.png');

body {
      color: $base-color;
      background: none;
      transform:skew(0deg,-9deg);
      -ms-transform:skew(0deg,-9deg);
      -webkit-transform:skew(0deg,-9deg);
      text-align: center;
      height: auto;
      div {
            width: 100%;
            @include breakpoint(xs) {
                  padding-left: 5pt;
                  padding-right: 5pt;
                  margin-bottom: -10vw;
            }
            @include breakpoint(sm) {
                  padding-left: 15pt;
                  padding-right: 15pt;
                  margin-bottom: -5vw;
            }
            @include breakpoint(lg) {
                  padding-left: 30pt;
                  padding-right: 30pt;
            }
            h1 {
                  font-family: Gudea;
                  text-align: center;
                  margin-top: 30pt;
            }
            span {
                  margin: auto;
                  margin-top: 5pt;
                  display: block;
                  background: $base-color;
                  width: 50pt;
                  height: 1.5pt;
                  margin-bottom: 10pt;
            }
            div {
                  margin-top: 30pt;
                  position: static;
                  display: block;
            }
      }
}
