@import '../../styles';

$base-color: $gray;
$iphone: url('../../images/logo.png');

body {
      transform:skew(0deg,-9deg);
      -ms-transform:skew(0deg,-9deg);
      -webkit-transform:skew(0deg,-9deg);
      background: none;
      text-align: center;
      width: 100% !important;
      display: block !important;
      div {
            background: $base-color;
            height: 1.5pt;
            @include breakpoint(xs) {
                  width: calc(50% - 19pt);
                  margin-top: 11pt;
            }
            @include breakpoint(sm) {
                  width: calc(50% - 23pt);
                  margin-top: 15pt;
            }
      }
      img {
            content: $iphone;
            @include breakpoint(xs) {
                  width: 20pt;
            }
            @include breakpoint(sm) {
                  width: 25pt;
            }
      }
}
